.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(229, 15, 15, 0.3);
    backdrop-filter: blur(10px);
}

.first {
    box-sizing: border-box;
    min-height: 200px;
    min-width: 600px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.75);
    padding: 30px 50px;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.close {
    margin-top: 15px;
    padding: 7px 15px;
    border-radius: 8px;
}

.close:hover {
    cursor: pointer;
    background-color: #cecece;
}

.close:active {
    cursor: pointer;
    background-color: #a8a7a7;
}
