.searchItem {
    padding: 1px 10px;
    border: 1px solid rgba(0,0,0,0);
}

.searchItem:hover {
    background-color: rgba(177, 177, 177, 0.4);
    border: 1px solid #d7d7d7;
    cursor: pointer;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: black;
}
