.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    font-size: 20px;
}

.img {
    width: 40px;
}

.dark {
    color: #81c1f3;
    text-decoration:none;
}

.white {
    color: black;
    text-decoration:none;
}


