.wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

iframe {
    width: 885px;
    height: 500px;
    border: 1px solid black;
    margin: 40px 50px 0;
}

.wrapperVote {
    display: flex;
    justify-content: center;
    padding: 10px 10px 0;
}
.wrapperImg {
    margin-top: 40px;
}

.vote {
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.voteTitle {
    font-size: 11px;
    margin: 16px 0 -7px;
}
.voteCount {
    margin: -8px 0;
}

.white {
    border: 3px solid #393939;
}
.dark {
    border: 3px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
}


.wrapperInfo {
    flex: 1;
    padding: 10px 30px 30px;
}
.filmTitle{
    font-weight: bolder;
    text-align: center;
}
