.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapperList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 60px;
    column-gap: 20px;
    row-gap: 20px;
}

