.header {
    width: 100%;
    background-color: #000000;
    padding: 60px 100px;
    display: flex;
    color: white;
}

.img {
    width: 240px;
    height: 240px;
    border: white 4px solid;
    border-radius: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    padding-left: 40px;
}
