.searchInput {
    width: 600px;
    font-size: 17px;
    padding: 5px 10px;
    flex-grow: 10;
    border-radius: 10px;
    border: 1px solid grey;
}

.searchInput:active {
    border: 1px solid black;
    border-radius: 10px;
}
