.dropDownPanel {
    width: 180px;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px solid grey;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.notFound {
    text-align: center;
    margin: 10px;

}

.white {
    background-color: rgba(204, 206, 215, 0.8);
}
.dark {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3);
}
