.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #6a6a6a;
}
.cv_wrapper {
    margin: auto;
    width: 1000px;
    min-height: 100vh;
    /*padding: 50px 100px;*/
    background-color: #fff;
    border-left: 1px black solid;
    border-right: 1px black solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.wrapper > h1 {
    text-align: center;
}
